<div class="content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <ngx-audioplayer #player
                [audioUrl]="'assets/data/long.mp3'"
                [pcmUrl]="'assets/data/long.json'"
                [imageUrl]="'https://cdn-l.podnoms.com/images/entry/25a33fb1-428c-4ee4-667a-08d72c897f8b.jpg?width=725&height=748'"
                [autoPlay]="false"
                [title]="'Cloud bread tattooed mustache tumeric offal pug.'"
                [subTitle]="'Bespoke jianbing thundercats etsy iPhone flannel. Williamsburg cray trust fund, roof party art party synth pork belly mixtape kale chips'"
                [backgroundColour]="'#ffffff'"
                [titleColour]="'#8fac69'"
                [subTitleColour]="'#828699'"
                [waveColour]="'#FF5733'"
                [waveColourProgress]="'#828699'"
                [showImage]="true"
                [showVolume]="false"
                [showDetails]="true">
            </ngx-audioplayer>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
