<div class="content">
    <h1>FAST!!!</h1>
    <div class="row">
        <div class="col-md-10">
            <ngx-audioplayer #player
                [audioUrl]="'https://api.podnoms.com/audio/2ef3cd54-df28-40d4-bc61-08d804c488ea.mp3?ngsw-bypass'"
                [pcmUrl]="'https://cdn.podnoms.com/waveforms/ed87efe9-f1fe-46c9-3a1b-08d7a9fff3c2.json'"
                [imageUrl]="'https://cdn-l.podnoms.com/images/entry/25a33fb1-428c-4ee4-667a-08d72c897f8b.jpg?width=725&height=748'"
                [autoPlay]="false"
                [title]="'Cloud bread tattooed mustache tumeric offal pug.'"
                [subTitle]="'Bespoke jianbing thundercats etsy iPhone flannel. Williamsburg cray trust fund, roof party art party synth pork belly mixtape kale chips'"
                [backgroundColour]="'#ffffff'"
                [titleColour]="'#8fac69'"
                [subTitleColour]="'#828699'"
                [waveColour]="'#FF5733'"
                [waveColourProgress]="'#828699'"
                [showImage]="true"
                [showVolume]="false"
                [showDetails]="true">
            </ngx-audioplayer>
        </div>
        <div class="col-md-1"></div>
    </div>
    <h1>SLOW!!!</h1>
    <div class="row">
        <div class="col-md-10">
            <ngx-audioplayer #player
                [audioUrl]="'https://cdn.podnoms.com/audio/ed87efe9-f1fe-46c9-3a1b-08d7a9fff3c2.mp3?ngsw-bypass'"
                [pcmUrl]="'https://cdn.podnoms.com/waveforms/ed87efe9-f1fe-46c9-3a1b-08d7a9fff3c2.json'"
                [imageUrl]="'https://cdn-l.podnoms.com/images/entry/25a33fb1-428c-4ee4-667a-08d72c897f8b.jpg?width=725&height=748'"
                [autoPlay]="false"
                [title]="'Cloud bread tattooed mustache tumeric offal pug.'"
                [subTitle]="'Bespoke jianbing thundercats etsy iPhone flannel. Williamsburg cray trust fund, roof party art party synth pork belly mixtape kale chips'"
                [backgroundColour]="'#ffffff'"
                [titleColour]="'#8fac69'"
                [subTitleColour]="'#828699'"
                [waveColour]="'#FF5733'"
                [waveColourProgress]="'#828699'"
                [showImage]="true"
                [showVolume]="false"
                [showDetails]="true">
            </ngx-audioplayer>
        </div>
        <div class="col-md-1"></div>
    </div>
    <h1>MINI!!!</h1>
    <div class="row">
        <div class="col-md-10">
            <ngx-audioplayer-mini [audioUrl]="'https://api.podnoms.com/audio/d9f52f2f-ce2c-459e-6f4c-08d8311e22d7.mp3'"
                [audioLength]="3601">
            </ngx-audioplayer-mini>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
