<div class="content">
    <!-- <h1>FAST!!!</h1>
    <div class="row">
        <div class="col-md-10">
            <ngx-audioplayer #player
                [audioUrl]="'https://cdn.podnoms.com/audio/5c6130ff-2b52-4879-d8b0-08d7abd8ad1d.mp3?ngsw-bypass'"
                [pcmUrl]="'https://cdn.podnoms.com/waveforms/ed87efe9-f1fe-46c9-3a1b-08d7a9fff3c2.json'"
                [imageUrl]="'https://cdn-l.podnoms.com/images/entry/25a33fb1-428c-4ee4-667a-08d72c897f8b.jpg?width=725&height=748'"
                [autoPlay]="false"
                [title]="'Cloud bread tattooed mustache tumeric offal pug.'"
                [subTitle]="'Bespoke jianbing thundercats etsy iPhone flannel. Williamsburg cray trust fund, roof party art party synth pork belly mixtape kale chips'"
                [backgroundColour]="'#ffffff'"
                [titleColour]="'#8fac69'"
                [subTitleColour]="'#828699'"
                [waveColour]="'#FF5733'"
                [waveColourProgress]="'#828699'"
                [showImage]="true"
                [showVolume]="false"
                [showDetails]="true">
            </ngx-audioplayer>
        </div>
        <div class="col-md-1"></div>
    </div>
    <h1>SLOW!!!</h1>
    <div class="row">
        <div class="col-md-10">
            <ngx-audioplayer #player
                [audioUrl]="'https://cdn.podnoms.com/audio/ed87efe9-f1fe-46c9-3a1b-08d7a9fff3c2.mp3?ngsw-bypass'"
                [pcmUrl]="'https://cdn.podnoms.com/waveforms/ed87efe9-f1fe-46c9-3a1b-08d7a9fff3c2.json'"
                [imageUrl]="'https://cdn-l.podnoms.com/images/entry/25a33fb1-428c-4ee4-667a-08d72c897f8b.jpg?width=725&height=748'"
                [autoPlay]="false"
                [title]="'Cloud bread tattooed mustache tumeric offal pug.'"
                [subTitle]="'Bespoke jianbing thundercats etsy iPhone flannel. Williamsburg cray trust fund, roof party art party synth pork belly mixtape kale chips'"
                [backgroundColour]="'#ffffff'"
                [titleColour]="'#8fac69'"
                [subTitleColour]="'#828699'"
                [waveColour]="'#FF5733'"
                [waveColourProgress]="'#828699'"
                [showImage]="true"
                [showVolume]="false"
                [showDetails]="true">
            </ngx-audioplayer>
        </div>
        <div class="col-md-1"></div>
    </div> -->
    <h1>MINI!!!</h1>
    <div class="row">
        <div class="col-md-10">
            <ngx-audioplayer-mini [audioUrl]="'https://cdn.podnoms.com/audio/ed87efe9-f1fe-46c9-3a1b-08d7a9fff3c2.mp3?ngsw-bypass'">
            </ngx-audioplayer-mini>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
